<h4 class="text-center">Promo Code Management</h4>
<button type="button" class="btn btn-dark mb-2" data-toggle="modal" data-target="#AddNewAdminModal">
  Add New Promo Code
</button>
<div class="modal fade" id="AddNewAdminModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Promo Code Details</h5>
        <button type="button" class="close" #closeButton data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="mb-3">
          <div class="form-row">
            <div class="form-group col-12">
              <label for="promoCode">Promo Code</label>
              <input type="text" class="form-control" id="promoCode" name="promoCode" placeholder="Promo Code"
                [(ngModel)]="promoCode.promoCode" />
            </div>
            <div class="form-group col-6">
              <input type="radio" class="mr-2" name="type" id="amount" value="byAmount" autocomplete="off"
                [(ngModel)]="promoCode.discount" />
              <label for="amount"> By Amount</label>
            </div>
            <div class="form-group col-6">
              <input type="radio" class="mr-2" name="type" id="percentage" value="byPercentage" autocomplete="off"
                [(ngModel)]="promoCode.discount" />
              <label for="percentage"> By Percentage</label>
            </div>
            <div class="form-group col-12">
              <label for="value">Value</label>
              <input type="number" class="form-control" id="value" name="value" placeholder="Promo Value"
                [(ngModel)]="promoCode.value" />
            </div>
            <div class="form-group col-12">
              <label for="expiryDate">Expiry Date</label>
              <input type="date" class="form-control" id="promoExpiryDate" name="expiryDate" placeholder="Expiry Date"
                [(ngModel)]="promoCode.expiryDate" />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">
          Cancel
        </button>
        <button type="submit" class="btn btn-dark m-1" (click)="save()">
          Save
        </button>
      </div>
    </div>
  </div>
</div>
<table class="table table-hover table-responsive-sm" id="table">
  <thead class="headColor">
    <tr>
      <th>Promo Code</th>
      <th>Discount</th>
      <th>Value</th>
      <th>Expiry Date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let promo of allPromoCodes">
      <td>{{ promo.promoCode }}</td>
      <td>{{ promo.discount }}</td>
      <td>{{ promo.value }}</td>
      <td>{{ promo.expiryDate | date }}</td>
      <td>
        <button type="button" class="btn btn-danger" (click)="deletePromoCode(promo)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
<ngx-spinner type="ball-fussion" color="#56ccf2"></ngx-spinner>