<h4 class="text-center">Orders Management</h4>


<!-- 
<ng-template #AddNewOrderModal let-modal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Order Details</h5>
        <button
          type="button"
          class="close"
          #closeButton
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="mb-3">
          <div class="form-row">
            <div class="form-group col-6">
              <label for="name">Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                placeholder="Order"
                [(ngModel)]="order.name"
              />
            </div>
            <div class="form-group col-6">
              <label for="nameAr">Arabic Name</label>
              <input
                type="text"
                class="form-control"
                id="nameAr"
                name="nameAr"
                placeholder="Arabic Order"
                [(ngModel)]="order.nameAr"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-light"
          (click)="closeContentModal()"
        >
          Cancel
        </button>
        <button
          type="submit"
          class="btn btn-dark m-1"
          *ngIf="!order._id"
          (click)="save('add')"
        >
          Save
        </button>
        <button
          type="submit"
          class="btn btn-dark m-1"
          *ngIf="order._id"
          (click)="save('update')"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</ng-template> -->

<ng-template #viewOrderModal let-modal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Order Details</h5>
        <button
          type="button"
          class="close"
          #closeButton
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="mb-3">
          <div class="form-row">
            <table class="table table-hover table-responsive-sm" id="table">
              <thead class="headColor">
                <tr class="text-center">
                  <th>Date</th>
                  <th>Time</th>
                  <th>Name</th>
                  <th>Price</th>
                 <!--  <th>Action</th> -->
                </tr>
              </thead>
              <tbody>
                <tr class="text-center">
                  <td>{{ order.date | date : 'dd - MM - yyyy' }}</td>
                  <td>{{ order.date | date : 'hh : mm' }}</td>
                  <td>{{ order.firstName }} {{ order.lastName }}</td>
                  <td>{{ order.netPrice }}</td>
                  <!-- <td>
                    <button
                      type="button"
                      class="btn btn-outline-warning mr-1"
                      (click)="openUpdateOrder(order, AddNewOrderModal)"
                    >
                      Edit
                    </button>
                    <button
                      type="button"
                      class="btn btn-danger"
                      (click)="deleteOrder(order)"
                    >
                      Delete
                    </button>
                  </td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-light"
          (click)="closeContentModal()"
        >
          Cancel
        </button>
      
      </div>
    </div>
  </div>
</ng-template>

<div class="form-row">

<div class="form-group col-7">
  <label for="Search">Search</label>
  <input
    type="text"
    class="form-control"
    id="Search"
    name="Search"
    placeholder="Search Order"
    [(ngModel)]="search"
  />
</div>

<div class="form-group col-3">
  <br>
<button
type="submit"
class="btn btn-primary"
(click)="getFilterOrders()"
> Search 
</button>
</div>
</div>

<table class="table table-hover table-responsive-sm" id="table">
  <thead class="headColor">
    <tr class="text-center">
      <th>Order Number</th>
      <th>Payment Number</th>
      <th>Name</th>
      <th>phone</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let o of allOrders" class="text-center">
      <td>{{ o.code }}</td>
      <td>{{ o.purchaseCode }}</td>
      <td>{{ o.firstName }} {{ o.lastName }}</td>
      <td>{{ o.phoneNumber }}</td>
      <td>{{ o.netPrice }}</td>
      <td>
        <button
        type="button"
        class="btn btn-info"
        (click)="viewOrder(o, viewOrderModal)"
      >
        View
      </button>
      </td>
      <!-- <td>
        <button
          type="button"
          class="btn btn-outline-warning mr-1"
          (click)="openUpdateOrder(order, AddNewOrderModal)"
        >
          Edit
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="deleteOrder(order)"
        >
          Delete
        </button>
      </td> -->
    </tr>
  </tbody>
</table>
<ngx-spinner type="ball-fussion" color="#56ccf2"></ngx-spinner>
