<h4 class="text-center m-2">Welcome To Darisly Admin Panel</h4>

<iframe width="1140" height="541.25"
  src="https://app.powerbi.com/reportEmbed?reportId=583886a8-108e-47dd-b838-e8248b4ba3d6&autoAuth=true&ctid=b31a2136-8996-427d-9812-193c36fc4727&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWFmcmljYS1ub3J0aC1hLXByaW1hcnktcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D"
  frameborder="0" allowFullScreen="true"></iframe>

<!-- <img class="imgStyle" src="assets/images/welcome.jpg" width="80%" height="80%" /> -->