<h4 class="text-center pb-3">Courses Management</h4>
<div class="text-center">
  <b class="font-weight-bold"
    >Not Active Sessions : <b class="redColor">{{ notActiveCount }}</b>
  </b>
</div>
<div class="form-group row">
  <div class="col-md-7 col-12">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control searchInputStyle"
        id="search"
        placeholder="Search By Course Subject"
        name="search"
        [(ngModel)]="search"
      />
      <div class="input-group-append">
        <button type="button" class="btn btn-dark" (click)="searchCourse()">
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-5 col-12">
    <button
      type="submit"
      class="btn btn-dark m-1"
      (click)="openAddCourseModal(AddNewCourseModal)"
    >
       Add New Course
    </button>
   <!--  <button
      type="button"
      class="btn btn-dark"
      data-toggle="modal"
      data-target="#exampleModal"
    >
      Add New Course
    </button> -->
  </div>
</div>
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
<ng-template #AddNewCourseModal let-modal>

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Course Details</h5>
        <button
          type="button"
          class="close"
          #closeButton
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group col-2 liveCheckbox">
            <input
              type="checkbox"
              class="form-check-input"
              id="hidden"
              name="hidden"
              [(ngModel)]="course.hidden"
            />
            <label class="form-check-label" for="hidden">Hidden</label>
          </div>
          <div class="form-row">

            <div class="form-group col-6">
              <label for="name">Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                placeholder="course"
                [(ngModel)]="course.name"
              />
            </div>
            <div class="form-group col-6">
              <label for="nameAr">Arabic Name</label>
              <input
                type="text"
                class="form-control"
                id="nameAr"
                name="nameAr"
                placeholder="Arabic course"
                [(ngModel)]="course.nameAr"
              />
            </div>

            <div class="form-group col-12">
              <label for="status">Course type</label>
              <ng-select id="status" name="status" [(ngModel)]="course.status">
                <ng-option *ngFor="let status of allStatus" [value]="status"
                  >{{ status }}
                </ng-option>
              </ng-select>
            </div>

            <div class="form-group col-12">
              <label for="courseType">Course type</label>
              <ng-select
                id="courseType"
                name="courseType"
                (change)="getAllEduSysByCourseType(course.courseType)"
                [(ngModel)]="course.courseType"
              >
                <ng-option
                  *ngFor="let courseType of allCourseTypes"
                  [value]="courseType"
                  >{{ courseType }}
                </ng-option>
              </ng-select>
            </div>

            <div class="form-group col-12">
              <label for="educationSystem">Education System</label>
              <ng-select
                id="educationSystem"
                name="educationSystem"
                (change)="
                  getAllSubjectsByEduSysId(course.educationSystemId);
                  getAllGradesByEduSysId(course.educationSystemId)
                "
                [(ngModel)]="course.educationSystemId"
              >
                <ng-option
                  *ngFor="let edu of allEduSysByCourseType"
                  [value]="edu._id"
                  >{{ edu.name }}</ng-option
                >
              </ng-select>
            </div>

            <div class="form-group col-12">
              <label for="subject">Subject</label>
              <ng-select
                id="subject"
                name="subject"
                [(ngModel)]="course.subjectId"
              >
                <ng-option *ngFor="let sub of allSubjects" [value]="sub._id"
                  >{{ sub.name }}
                </ng-option>
              </ng-select>
            </div>

            <div
              class="form-group col-6"
              *ngIf="course.courseType === 'Skills'"
            >
              <label for="price">Price</label>
              <input
                type="number"
                class="form-control"
                id="price"
                name="price"
                placeholder="Price"
                [(ngModel)]="course.price"
                min="0"
              />
            </div>

            <div
              class="form-group col-6"
              *ngIf="course.courseType === 'Educations'"
            >
              <label for="grade">Grade</label>
              <ng-select id="grade" name="course.grade" [(ngModel)]="course.gradeId">
                <ng-option *ngFor="let grad of allGrades" [value]="grad._id"
                  >{{ grad.name }}
                </ng-option>
              </ng-select>
            </div>

            <div
              class="form-group col-6"
              *ngIf="course.courseType === 'Educations'"
            >
              <label for="pricePerLesson">price Per Lesson</label>
              <input
                type="number"
                class="form-control"
                id="pricePerLesson"
                name="pricePerLesson"
                placeholder="price Per Lesson"
                [(ngModel)]="course.pricePerLesson"
                min="0"
              />
            </div>

            <div class="form-group col-12">
              <label for="courseTeacher">Select Tutor</label>
              <ng-select
                id="courseTeacher"
                name="course.teacher"
                [(ngModel)]="course.teacherId"
              >
                <ng-option
                  *ngFor="let teacher of allTeachers"
                  [value]="teacher._id"
                  >{{ teacher.firstName }} {{ teacher.lastName }}</ng-option
                >
              </ng-select>
            </div>

            <div class="form-group col-12">
              <label for="courseIntro">Course Intro</label>
              <input
                type="text"
                class="form-control"
                id="courseIntro"
                name="courseIntro"
                placeholder="Course Intro Id"
                [(ngModel)]="course.courseIntro"
              />
            </div>

            <div class="form-group col-12">
              <label for="product">Product</label>
              <input
                type="text"
                class="form-control"
                id="product"
                name="product"
                placeholder="Course Product"
                [(ngModel)]="course.product"
              />
            </div>

            <div
              class="form-group col-12"
              *ngIf="course.courseType === 'Skills'"
            >
              <fieldset>
                <legend>
                  <button
                    type="button"
                    class="btn btn-sm btn-success pull-right"
                    (click)="addprerequisities(course)"
                  >
                    Add Prerequisite
                  </button>
                </legend>
                <table class="table table-hover table-responsive-sm" id="table">
                  <tbody>
                    <tr
                      *ngFor="
                        let pre of course.prerequisities;
                        index as i;
                        trackBy: index
                      "
                      class="text-center"
                    >
                      <td>
                        <input
                          type="text"
                          class="form-control"
                          id="name-{{ i }}"
                          name="name-{{ i }}"
                          placeholder="prerequisities Name"
                          [(ngModel)]="pre.name"
                        />
                      </td>

                      <td>
                        <button
                          type="button"
                          class="btn btn-danger"
                          (click)="course.prerequisities.splice(i, 1)"
                        >
                          Delete
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </fieldset>
            </div>

            <div
              class="form-group col-12"
              *ngIf="course.courseType === 'Skills'"
            >
              <label for="Language">Language</label>
              <ng-select
                id="language"
                name="language"
                [(ngModel)]="course.language"
              >
                <ng-option *ngFor="let lang of languages" [value]="lang">{{
                  lang
                }}</ng-option>
              </ng-select>
            </div>

            <div
              class="form-group col-12"
              *ngIf="course.courseType === 'Skills'"
            >
              <label for="subject">What You Will Learn</label>
              <input
                type="text"
                class="form-control"
                id="whatYouWillLearn"
                name="whatYouWillLearn"
                placeholder="what You Will Learn"
                [(ngModel)]="course.whatYouWillLearn"
              />
            </div>

            <div
              class="form-group col-12"
              *ngIf="course.courseType === 'Skills'"
            >
              <label for="subject">Course Description</label>
              <textarea
                type="text"
                class="form-control"
                id="courseDescription"
                name="courseDescription"
                placeholder="Course Description"
                [(ngModel)]="course.courseDescription"
              >
              </textarea>
            </div>
            <div class="form-group">
              <label for="courseIcon">Course Icon</label>
              <input
                type="file"
                class="form-control-file"
                id="courseIcon"
                (change)="changeImageBase($event)"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">

        <button
          type="button"
          class="btn btn-light"
          (click)="closeCourseModal()"
        >
          Cancel
        </button>

        <button
        type="submit"
        class="btn btn-dark m-1"
        *ngIf="!course._id"
        (click)="createCourse('add')"
      >
        Save
      </button>
   
      <button
        type="submit"
        class="btn btn-dark m-1"
        *ngIf="course._id"
        (click)="createCourse('update')"
      >
        Save
      </button>

      </div>
    </div>
  </div>
</ng-template>

</div>
<div class="row">
  <div class="col-sm-6" *ngFor="let course of allCourses">
    <div class="card m-2 cardStyle">
      <div class="marginTop">
        <span (click)="deleteCourse(course)" class="trashDesign">
          <i class="fa fa-times-circle" style="font-size: 25px"></i>
        </span>
      </div>
      <div class="card-body text-center">
        <h4 class="card-title">{{ course.status }}</h4>
        <h4 class="card-title">{{ course.courseType }}</h4>
        <h5 class="card-title">{{ course.courseName }}</h5>
        <h5 class="card-title">{{ course.subject }}</h5>
        <b class="card-text" *ngIf="course.courseType === 'Skills'"
          >Price : <b class="greenColor"> {{ course.price }}</b>
        </b>
        <p class="card-text" *ngIf="course.courseType === 'Educations'">
          Grade : {{ course.grade }}
        </p>
        <p class="card-text">{{ course.educationSystem }}</p>
        <p class="card-text">
          Teacher :
          {{
            course.teacherFirstName
              ? course.teacherFirstName + " " + course.teacherLastName
              : "Not Assigned"
          }}
          <a
            *ngIf="!course.teacherFirstName"
            (click)="openAssignTeacherModal(course, AssignTeacherModal)"
            class="assignTeacher"
            >Assign</a
          >
          <a
            *ngIf="course.teacherFirstName"
            (click)="openAssignTeacherModal(course, AssignTeacherModal)"
            class="assignTeacher"
            >Change</a
          >
        </p>
        <p>
          Exclusive : {{ course.exclusive }}
          <a (click)="changeExclusive(course)" class="assignTeacher">Change</a>
        </p>
        <b class="font-weight-bold"
          >Not Active Sessions :
          <b class="redColor">{{ course.$notActiveCount }}</b>
        </b>
        <p></p>
        <button
          type="button"
          class="btn btnColor m-2"
          (click)="openViewCourseDetailsModal(course, viewCourseDetailsModal)"
        >
          View Details
        </button>
        <button
        type="button"
        class="btn btn-outline-warning mr-1"
        (click)="openUpdateCourse(course, AddNewCourseModal)"
      >
        Edit
      </button>
      </div>
    </div>
  </div>
</div>
<ng-template #AssignTeacherModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Tutor</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <ng-select name="selectedTutor" [(ngModel)]="selectedTutor">
      <ng-option value="">Select Tutor</ng-option>
      <ng-option *ngFor="let teacher of allTeachers" [value]="teacher._id"
        >{{ teacher.firstName }} {{ teacher.lastName }}</ng-option
      >
    </ng-select>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.dismiss('Cross click')"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-dark"
      (click)="assignTeacherIntoCourse()"
    >
      Ok
    </button>
  </div>
</ng-template>
<ng-template #addChapterIntoCourseModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Chapter Details</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-row">
        <div class="form-group col-12">
          <label for="name">Chapter Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            placeholder="Chapter Name"
            [(ngModel)]="chapter.name"
          />
        </div>
        <div class="form-group col-12">
          <label for="nameAr">Arabic Chapter Name</label>
          <input
            type="text"
            class="form-control"
            id="nameAr"
            name="nameAr"
            placeholder="Arabic Chapter Name"
            [(ngModel)]="chapter.nameAr"
          />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.dismiss('Cross click')"
    >
      Cancel
    </button>
    <button type="button" class="btn btn-dark" (click)="addChapterIntoCourse()">
      Save
    </button>
  </div>
</ng-template>
<ng-template #addLessonIntoChapterModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Lesson Details</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-row">
        <div class="form-group col-2 liveCheckbox">
          <input
            type="checkbox"
            class="form-check-input"
            id="active"
            name="active"
            [(ngModel)]="lesson.active"
          />
          <label class="form-check-label" for="active">Active</label>
        </div>
        <div class="form-group col-2 liveCheckbox">
          <input
            type="checkbox"
            class="form-check-input"
            id="liveSession"
            name="liveSession"
            [(ngModel)]="lesson.liveSession"
          />
          <label class="form-check-label" for="liveSession">Live</label>
        </div>
        <div class="form-group col-8"></div>
        <div class="form-group col-5">
          <label for="name">Lesson Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            placeholder="Lesson Name"
            [(ngModel)]="lesson.name"
          />
        </div>
        <div class="form-group col-5">
          <label for="nameAr">Arabic Lesson Name</label>
          <input
            type="text"
            class="form-control"
            id="nameAr"
            name="nameAr"
            placeholder="Arabic Lesson Name"
            [(ngModel)]="lesson.nameAr"
          />
        </div>

        <div
          class="form-group col-12"
          *ngIf="selectedCourse.courseType === 'Educations'"
        >
          <label for="price">Lesson Price</label>
          <input
            type="number"
            class="form-control"
            id="price"
            name="price"
            placeholder="Lesson Price"
            [(ngModel)]="lesson.price"
          />
        </div>
        <div class="form-group col-12" *ngIf="!lesson.liveSession">
          <label for="validFor">Valid For (Days)</label>
          <input
            type="number"
            class="form-control"
            id="validFor"
            name="validFor"
            placeholder="Valid For (Days)"
            [(ngModel)]="lesson.validFor"
          />
        </div>

        <div
          class="form-group col-12"
          *ngIf="lesson.liveSession && lesson.liveType != 'Group'"
        >
          <label for="liveType">Live type</label>
          <ng-select
            id="liveType"
            name="liveType"
            [(ngModel)]="lesson.liveType"
          >
            <ng-option *ngFor="let liveType of allLiveType" [value]="liveType"
              >{{ liveType }}
            </ng-option>
          </ng-select>
        </div>

        <div
          class="form-group col-8"
          *ngIf="lesson.liveSession && lesson.liveType === 'Group'"
        >
          <label for="liveType">Live type</label>
          <ng-select
            id="liveType"
            name="liveType"
            [(ngModel)]="lesson.liveType"
          >
            <ng-option *ngFor="let liveType of allLiveType" [value]="liveType"
              >{{ liveType }}
            </ng-option>
          </ng-select>
        </div>

        <div
          class="form-group col-4"
          *ngIf="lesson.liveSession && lesson.liveType === 'Group'"
        >
          <label for="maxNumStu">Max num students</label>
          <input
            type="number"
            class="form-control"
            id="maxNumStu"
            name="maxNumStu"
            placeholder="Number of students"
            [(ngModel)]="lesson.maxNumStu"
          />
        </div>

        <div class="form-group col-6" *ngIf="lesson.liveSession">
          <label for="startDate">Start Date</label>
          <input
            type="date"
            class="form-control"
            id="startDate"
            name="startDate"
            placeholder="Start Date"
            [(ngModel)]="lesson.startDate"
          />
        </div>
        <div class="form-group col-6" *ngIf="lesson.liveSession">
          <label for="startTime">Start Time</label>
          <input
            type="time"
            class="form-control"
            id="startTime"
            name="startTime"
            placeholder="Start Time"
            [(ngModel)]="lesson.startTime"
          />
        </div>
        <div class="form-group col-6" *ngIf="lesson.liveSession">
          <label for="endDate">End Date</label>
          <input
            type="date"
            class="form-control"
            id="endDate"
            name="endDate"
            placeholder="End Date"
            [(ngModel)]="lesson.endDate"
          />
        </div>
        <div class="form-group col-6" *ngIf="lesson.liveSession">
          <label for="endTime">End Time</label>
          <input
            type="time"
            class="form-control"
            id="endTime"
            name="endTime"
            placeholder="End Time"
            [(ngModel)]="lesson.endTime"
          />
        </div>
        <div class="form-group col-6" *ngIf="lesson.liveSession">
          <label for="meetingId">Meeting Id</label>
          <input
            type="text"
            class="form-control"
            id="meetingId"
            name="meetingId"
            placeholder="Meeting Id"
            [(ngModel)]="lesson.meetingId"
          />
        </div>
        <div class="form-group col-6" *ngIf="lesson.liveSession">
          <label for="meetingId">Meeting Password</label>
          <input
            type="text"
            class="form-control"
            id="meetingPassword"
            name="meetingPassword"
            placeholder="Meeting Password"
            [(ngModel)]="lesson.meetingPassword"
          />
        </div>
        <div class="form-group col-12">
          <label for="product">Product</label>
          <input
            type="text"
            class="form-control"
            id="product"
            name="product"
            placeholder="Lesson Product"
            [(ngModel)]="lesson.product"
          />
        </div>
        <div class="form-group col-12">
          <label for="meetingId">Notes</label>
          <textarea
            type="text"
            class="form-control"
            id="notes"
            name="notes"
            placeholder="Notes"
            [(ngModel)]="lesson.notes"
          >
          </textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.dismiss('Cross click')"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-dark"
      *ngIf="!lesson._id"
      (click)="addLessonIntoChapter()"
    >
      Save
    </button>
    <button
      type="button"
      class="btn btn-outline-warning mr-1"
      *ngIf="lesson._id"
      (click)="editLiveSession(lesson)"
    >
      Edit
    </button>
  </div>
</ng-template>
<ng-template #updateLiveSession let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Live Lesson Details</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-row">
        <div class="form-group col-6">
          <label for="meetingId">Meeting Id</label>
          <input
            type="text"
            class="form-control"
            id="meetingId"
            name="meetingId"
            placeholder="Meeting Id"
            [(ngModel)]="selectedLiveSession.meetingId"
          />
        </div>
        <div class="form-group col-6">
          <label for="meetingId">Meeting Password</label>
          <input
            type="text"
            class="form-control"
            id="meetingPassword"
            name="meetingPassword"
            placeholder="Meeting Password"
            [(ngModel)]="selectedLiveSession.meetingPassword"
          />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.dismiss('Cross click')"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-dark"
      (click)="editLiveSession(selectedLiveSession)"
    >
      Save
    </button>
  </div>
</ng-template>
<ng-template #addContentIntoLessonModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Content Details</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-row">
        <div class="col-12">
          <div class="btn-group-toggle" data-toggle="buttons">
            <div class="col-12">
              <!-- <span class="col-3">
                <i class="fa fa-3x fa-file-word-o contentIcons"></i>
              </span> -->
              <span class="col-5">
                <i class="fa fa-3x fa-file-pdf-o contentIcons"></i>
              </span>
              <span class="col-5">
                <i class="fa fa-3x fa-file-video-o contentIcons"></i>
              </span>
            </div>
            <!-- <label class="col-3 btn btn-success contentButtons">
              <input
                type="radio"
                name="type"
                id="document"
                value="document"
                autocomplete="off"
                [(ngModel)]="content.type"
              />
              Document
            </label> -->
            <label class="col-5 btn btn-success contentButtons">
              <input
                type="radio"
                name="type"
                id="pdf"
                value="pdf"
                autocomplete="off"
                [(ngModel)]="content.type"
              />
              PDF
            </label>
            <label class="col-5 btn btn-success contentButtons">
              <input
                type="radio"
                name="type"
                id="Video"
                value="Video"
                autocomplete="off"
                [(ngModel)]="content.type"
              />
              Video
            </label>
          </div>
        </div>
        <div
          class="form-group col-12"
          *ngIf="content.type && content.type !== 'Video'"
        >
          <label for="fileSelected">Choose File</label>
          <input
            type="file"
            class="form-control-file"
            id="fileSelected"
            (change)="chosenFile($event)"
          />
        </div>
        <div class="form-group col-6">
          <label for="name">Content Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            placeholder="Content Name"
            [(ngModel)]="content.name"
          />
        </div>
        <div class="form-group col-6">
          <label for="nameAr">Arabic Content Name</label>
          <input
            type="text"
            class="form-control"
            id="nameAr"
            name="nameAr"
            placeholder="Arabic Content Name"
            [(ngModel)]="content.nameAr"
          />
        </div>
        <div class="form-group col-12" *ngIf="content.type === 'Video'">
          <label for="value">Content Value</label>
          <input
            type="text"
            class="form-control"
            id="value"
            name="value"
            placeholder="Content Value"
            [(ngModel)]="content.value"
          />
        </div>
        <div class="form-group col-12" *ngIf="content.type === 'Video'">
          <label for="videoLength">Video Length (Minutes)</label>
          <input
            type="number"
            class="form-control"
            id="videoLength"
            name="videoLength"
            placeholder="Video Length"
            [(ngModel)]="content.videoLength"
          />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="closeContentModal()">
      Cancel
    </button>
    <button
      type="button"
      *ngIf="!editContentMode"
      class="btn btn-dark"
      (click)="addContentIntoLesson()"
    >
      Save
    </button>
    <button
      type="button"
      *ngIf="editContentMode"
      class="btn btn-dark"
      (click)="addContentIntoLesson()"
    >
      Edit
    </button>
  </div>
</ng-template>
<ng-template #viewCourseDetailsModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Course Details</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 col-12">
          <img
            src="{{ changeImageUrl(selectedCourse.courseIcon) }}"
            width="100%"
            height="200px"
            alt="Course Icon"
          />

          <p class="card-text font-weight-bold text-center">
            courseName :
            <b class="indigoColor">{{ selectedCourse.courseName }}</b> <br />
            Status :
            <b class="indigoColor">{{ selectedCourse.status }}</b> <br />
            courseType :
            <b class="indigoColor">{{ selectedCourse.courseType }}</b> <br />
            subject : <b class="indigoColor">{{ selectedCourse.subject }}</b>
            <br />
          </p>

          <p
            class="card-text font-weight-bold text-center"
            *ngIf="selectedCourse.courseType === 'Skills'"
          >
            Price : <b class="greenColor">{{ selectedCourse.price }}</b> <br />
          </p>

          <p
            class="card-text font-weight-bold text-center"
            *ngIf="selectedCourse.courseType === 'Educations'"
          >
            Grade : <b class="indigoColor">{{ selectedCourse.grade }}</b> <br />
          </p>

          <p class="card-text font-weight-bold text-center">
            educationSystem :
            <b class="indigoColor">{{ selectedCourse.educationSystem }}</b>
            <br />
            Teacher :
            <b class="indigoColor">
              {{
                selectedCourse.teacherFirstName
                  ? selectedCourse.teacherFirstName +
                    " " +
                    selectedCourse.teacherLastName
                  : "Not Assigned"
              }}</b
            >

            <br />
          </p>
        </div>
        <div class="col-md-8 col-12">
          <div class="card">
            <div class="card-body">
              <span class="contentStyle">Content</span>
              <a
                (click)="
                  openAddChapterIntoCourseModal(
                    selectedCourse,
                    addChapterIntoCourseModal
                  )
                "
                class="addNewChapter"
                >New Chapter</a
              >
              <ng-select
                name="selectFromChapters"
                [(ngModel)]="selectFromChapters"
                (change)="chosenChapter($event)"
              >
                <ng-option value="">Search Chapters</ng-option>
                <ng-option
                  *ngFor="let chap of clonedSelectedCourse.chapters"
                  [value]="chap"
                  >{{ chap.name }}</ng-option
                >
              </ng-select>
              <hr />
              <div
                class="accordion"
                [attr.id]="'accordion_' + i"
                *ngFor="let chapter of selectedCourse.chapters; let i = index"
              >
                <div class="card" *ngIf="chapter.name">
                  <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                      <a
                        class="chapterTitleStyle"
                        data-toggle="collapse"
                        [attr.data-parent]="'#accordion_' + i"
                        [attr.href]="'#collapseOne_' + i"
                        >{{ chapter.name }}
                        <i class="fa fa-sort-down arrowStyle"></i
                      ></a>
                    </h2>
                    <button
                      type="button"
                      class="btn btn-outline-danger float-right"
                      (click)="deleteChapter(selectedCourse, chapter)"
                    >
                      Delete
                    </button>
                  </div>
                  <div
                    [attr.id]="'collapseOne_' + i"
                    class="panel-collapse collapse in"
                  >
                    <div class="card-body">
                      <div class="row">
                        <div class="col-12 lessonDiv">
                          <a
                            (click)="
                              openAddLessonIntoChapterModal(
                                selectedCourse,
                                chapter,
                                addLessonIntoChapterModal
                              )
                            "
                            class="addNewChapter"
                            >New Lesson
                          </a>
                        </div>
                        <div class="col-12">
                          <div
                            class="accordion"
                            [attr.id]="'accordion_Lesson' + idx"
                            *ngFor="
                              let lesson of chapter.lessons;
                              let idx = index
                            "
                          >
                            <div class="card" *ngIf="chapter.name">
                              <div
                                class="card-header lessonBackgroundColor"
                                id="headingOne"
                              >
                                <span class="mb-0">
                                  <a
                                    class="chapterTitleStyle"
                                    data-toggle="collapse"
                                    [attr.data-parent]="
                                      '#accordion_Lesson' + idx
                                    "
                                    [attr.href]="'#collapseOne_Lesson' + idx"
                                    >{{ lesson.name }}
                                    <i class="fa fa-sort-down arrowStyle"></i>
                                  </a>
                                  -
                                  <b *ngIf="lesson.active" class="greenColor"
                                    >Active</b
                                  >
                                  <b *ngIf="!lesson.active" class="redColor"
                                    >Not Active</b
                                  >
                                </span>
                                <button
                                  type="button"
                                  class="btn btn-outline-danger float-right"
                                  (click)="deleteL(chapter, lesson)"
                                >
                                  Delete
                                </button>
                              </div>
                              <div
                                [attr.id]="'collapseOne_Lesson' + idx"
                                class="panel-collapse collapse in"
                              >
                                <div class="card-body">
                                  <div class="row">
                                    <div class="row lessonDiv">
                                      <a
                                        *ngIf="!lesson.liveSession"
                                        (click)="
                                          openAddContentIntoLessonModal(
                                            selectedCourse,
                                            chapter,
                                            lesson,
                                            addContentIntoLessonModal
                                          )
                                        "
                                        class="addNewChapter col-12"
                                        >New Content</a
                                      >

                                      <button
                                        type="button"
                                        class="
                                          btn btn-outline-warning
                                          mr-1
                                          col-12
                                        "
                                        (click)="
                                          openUpdateLesson(
                                            lesson,
                                            addLessonIntoChapterModal
                                          )
                                        "
                                      >
                                        Edit
                                      </button>
                                    </div>

                                    <div
                                      class="col-9 lessonDiv"
                                      *ngIf="lesson.liveSession"
                                    >
                                      Live Session is on day
                                      <span class="redColor">
                                        {{ lesson.startDate | date }}</span
                                      >
                                      at
                                      <span class="redColor">
                                        {{ lesson.startTime }}
                                      </span>
                                      with meeting Id of
                                      <span class="redColor">
                                        {{ lesson.meetingId }}
                                      </span>
                                      and meeting password of
                                      <span class="redColor">
                                        {{ lesson.meetingPassword }}
                                      </span>
                                      <!-- <button type="button" class="btn btn-outline-danger float-right"
                                        (click)="deleteLesson(lesson)">
                                        Delete
                                      </button> -->
                                    </div>

                                    <div
                                      class="col-12"
                                      *ngIf="
                                        lesson.items && lesson.items.length > 0
                                      "
                                    >
                                      <div *ngFor="let item of lesson.items">
                                        {{ item.name }}
                                        <span class="float-right">
                                          <a
                                            class="editContentStyle"
                                            (click)="
                                              openEditLessonContent(
                                                selectedCourse,
                                                chapter,
                                                lesson,
                                                item,
                                                addContentIntoLessonModal
                                              )
                                            "
                                            >Edit</a
                                          >
                                          <a
                                            class="deleteContentStyle"
                                            (click)="
                                              deleteLessonContent(lesson, item)
                                            "
                                            >Delete</a
                                          >
                                        </span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-dark"
      (click)="modal.dismiss('Cross click')"
    >
      Ok
    </button>
  </div>
</ng-template>
<ngx-spinner type="ball-fussion" color="#56ccf2"></ngx-spinner>
