<h4 class="text-center">Grades Management</h4>

<button
type="submit"
class="btn btn-dark m-1"
  (click)="openAddGradeModal(AddNewGradeModal)"
>
  Add New Grade
</button>

<ng-template #AddNewGradeModal let-modal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Grade Details</h5>
        <button
          type="button"
          class="close"
          #closeButton
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="mb-3">
          <div class="form-row">
            <div class="form-group col-6">
              <label for="name">Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                placeholder="Grade"
                [(ngModel)]="grade.name"
              />
            </div>
            <div class="form-group col-6">
              <label for="nameAr">Arabic Name</label>
              <input
                type="text"
                class="form-control"
                id="nameAr"
                name="nameAr"
                placeholder="Arabic Grade"
                [(ngModel)]="grade.nameAr"
              />
            </div>
            <div class="form-group col-12">
              <label for="educationSystem">Education System</label>
              <ng-select
                [multiple]="true"
                id="educationSystem"
                name="educationSystem"
                [(ngModel)]="grade.educationSystems"
              >
                <ng-option
                  *ngFor="let edu of allEducationSystems"
                  [value]="edu._id"
                  >{{ edu.name }}</ng-option
                >
              </ng-select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-light"
          (click)="closeContentModal()"
        >
          Cancel
        </button>
        <button
          type="submit"
          class="btn btn-dark m-1"
          *ngIf="!grade._id"
          (click)="save('add')"
        >
          Save
        </button>
        <button
          type="submit"
          class="btn btn-dark m-1"
          *ngIf="grade._id"
          (click)="save('update')"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</ng-template>
<table class="table table-hover table-responsive-sm" id="table">
  <thead class="headColor">
    <tr class="text-center">
      <th>Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let grade of allGrades" class="text-center">
      <td>{{ grade.name }}</td>
      <td>
        <button
          type="button"
          class="btn btn-outline-warning mr-1"
          (click)="openUpdateGrade(grade, AddNewGradeModal)"
        >
          Edit
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="deleteGrade(grade)"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
<ngx-spinner type="ball-fussion" color="#56ccf2"></ngx-spinner>
