<h4 class="text-center">Notifications</h4>

<div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Notification Details</h5>
            </div>
            <div class="modal-body">
                <form class="mb-3">
                    <div class="form-row">

                        <div class="form-group col-12 d-flex justify-content-center">
                            <label for="allTeacher" class="m-3">All Teacher
                                <input type="checkbox" id="allTeacher" name="allTeacher"
                                    [(ngModel)]="notification.IsAllTeacher" [(checked)]="notification.IsAllTeacher"
                                    (change)="eventCheckBox($event.target)">
                            </label>
                            <label for="allStudent" class="m-3">All Student
                                <input type="checkbox" id="allStudent" name="allStudent"
                                    [(ngModel)]="notification.IsAllStudent" [(checked)]="notification.IsAllStudent"
                                    (change)="eventCheckBox($event.target)">
                            </label>
                        </div>

                        <div class="form-group col-12"
                            [class.d-none]="notification.IsAllTeacher || notification.IsAllStudent">
                            <label for="type">User Type</label>
                            <ng-select name="userType" [(ngModel)]="userType">
                                <ng-option *ngFor="let usertype of allTypes" [value]="usertype">{{
                                    usertype }}
                                </ng-option>
                            </ng-select>
                        </div>

                        <div class="form-group col-12" *ngIf="userType == 'Students'">
                            <label for="teacherName">Teacher Name</label>
                            <ng-select id="teacherId" name="teacherId" [(ngModel)]="notification.teacherId"
                                [multiple]="true" (change)="GetTeacherCoursesByTeacherId(notification.teacherId)">
                                <ng-option value="ALL">
                                    ALL
                                </ng-option>
                                <ng-option *ngFor="let teacher of AllTeachers" [value]="teacher._id">{{
                                    teacher.firstName }} {{
                                    teacher.lastName }}</ng-option>
                            </ng-select>
                        </div>

                        <div class="form-group col-12" *ngIf="userType != '' && userType != null ">
                            <label for="courseType">course Type</label>
                            <ng-select name="courseType" id="courseType" name="courseType"
                                (change)="getAllEduSysByCourseType(notification.courseType)"
                                [(ngModel)]="notification.courseType">
                                <ng-option *ngFor="let coursetype of allCourseTypes" id="coursetype"
                                    [value]="coursetype">
                                    {{coursetype}}
                                </ng-option>
                            </ng-select>
                        </div>

                        <div class="form-group col-12"
                            *ngIf="userType != '' && userType != null && notification.courseType != '' && notification.courseType != null">
                            <label for="educationSystem">Education System</label>
                            <ng-select id="educationSystem" name="educationSystem"
                                (change)=" getAllGradesByEduSysId(notification.educationSystemId);GetTeacherCoursesByCourseType(notification.courseType)"
                                [(ngModel)]="notification.educationSystemId">
                                <ng-option *ngFor="let edu of allEduSysByCourseType" [value]="edu._id">{{ edu.name }}
                                </ng-option>
                            </ng-select>
                        </div>

                        <div class="form-group col-12" *ngIf="notification.courseType ==='Educations'">
                            <label for="grade">Grade</label>
                            <ng-select id="grade" name="grade" [(ngModel)]="notification.gradeId"
                                (change)="GetTeacherCoursesByCourseType(notification.courseType)" [multiple]="true">
                                <ng-option value="ALL">
                                    ALL
                                </ng-option>
                                <ng-option *ngFor="let grad of AllGrades" [value]="grad._id">{{ grad.name }}
                                </ng-option>
                            </ng-select>
                        </div>
  
                        <div class="form-group col-12"
                            *ngIf="userType != '' && userType != null && notification.courseType != '' && notification.courseType != null ">
                            <label for="subject">course Name</label>
                            <ng-select id="subject" name="subject" [(ngModel)]="notification.courseId"
                                [multiple]="true">
                                <ng-option value="ALL">
                                    ALL
                                </ng-option>
                                <ng-option *ngFor="let course of TeacherCoursesFilter" [value]="course._id">{{
                                    course.courseName }}
                                </ng-option>
                            </ng-select>
                        </div>

                        <div class="form-group col-12" *ngIf="userType == 'Teachers'">
                            <label for="teacherName">Teacher Name</label>
                            <ng-select id="teacherId" name="teacherId" [(ngModel)]="notification.teacherId"
                                [multiple]="true">
                                <ng-option value="ALL">
                                    ALL
                                </ng-option>
                                <ng-option *ngFor="let teacher of AllTeachers" [value]="teacher._id">{{
                                    teacher.firstName }} {{
                                    teacher.lastName }}</ng-option>
                            </ng-select>
                        </div>

                        <div class="form-group col-12" *ngIf="userType == 'Students'">
                            <label for="studentId">Student Name</label>
                            <ng-select id="studentId" name="studentId" [(ngModel)]="notification.studentId"
                                [multiple]="true">
                                <ng-option value="ALL">
                                    ALL
                                </ng-option>
                                <ng-option *ngFor="let student of studentsFilter" id="student._id"
                                    [value]="student._id">
                                    {{ student.firstName }}
                                </ng-option>
                            </ng-select>
                        </div>

                        <div class="form-group col-12">
                            <label for="notificEn">notification EN</label>
                            <textarea type="text" [(ngModel)]="notification.notificEn" class="form-control"
                                id="notificEn" name="notificEn" placeholder="Notific EN"
                                [value]="notification.notificEn"></textarea>
                        </div>

                        <div class="form-group col-12">
                            <label for="notificAr">notification AR</label>
                            <textarea type="text" name="notificAr" [(ngModel)]="notification.notificAr"
                                class="form-control" id="notificAr" placeholder="Notification AR"
                                [value]="notification.notificAr"></textarea>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-light">
                    Cancel
                </button>

                <button type="submit" class="btn btn-dark m-1" (click)="createNotification()">
                    send
                </button>

            </div>
        </div>
    </div>
</div>