<h4 class="text-center">Education System Management</h4>
<!-- <button
  type="button"
  class="btn btn-dark mb-2"
  data-toggle="modal"
  data-target="#AddNewEducationSystemModal"
>
  Add New Education System
</button> -->
<button
type="submit"
class="btn btn-dark m-1"
  (click)="openEducationSystemModal(AddNewEducationSystemModal)"
>
Add New Education System
</button>
<!-- <div
  class="modal fade"
  id="AddNewEducationSystemModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
> -->
<ng-template #AddNewEducationSystemModal let-modal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Education System Details
        </h5>
        <button
          type="button"
          class="close"
          #closeButton
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="mb-3">
          <div class="form-row">
            <div class="form-group col-6">
              <label for="name">Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                placeholder="Education System"
                [(ngModel)]="educationSystem.name"
              />
            </div>
            <div class="form-group col-6">
              <label for="nameAr">Arabic Name</label>
              <input
                type="text"
                class="form-control"
                id="nameAr"
                name="nameAr"
                placeholder="Arabic Education System"
                [(ngModel)]="educationSystem.nameAr"
              />
            </div>

            <div class="form-group col-12">
              <label for="courseType">Course type</label>
              <ng-select id="courseType" name="courseType" [(ngModel)]="educationSystem.courseType">
                <ng-option *ngFor="let courseType of allCourseTypes" [value]="courseType">{{ courseType }}
                </ng-option>
              </ng-select>
            </div>

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
        type="button"
        class="btn btn-light"
        (click)="closeContentModal()"
      >
        Cancel
      </button>

        <button
          type="submit"
          class="btn btn-dark m-1"
          *ngIf="!educationSystem._id"
          (click)="save('add')"
        >
          Save
        </button>
        <button
          type="submit"
          class="btn btn-dark m-1"
          *ngIf="educationSystem._id"
          (click)="save('update')"
        >
          Save
        </button>

       <!--  <button type="submit" class="btn btn-dark m-1" (click)="save()">
          Save
        </button> -->
      </div>
    </div>
  </div>
</ng-template>
<table class="table table-hover table-responsive-sm" id="table">
  <thead class="headColor">
    <tr>
      <th>Name</th>
      <th>Course type</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let edu of allEducationSystems">
      <td>{{ edu.name }}</td>
      <td>{{ edu.courseType }}</td>
      <td>
        <button
        type="button"
        class="btn btn-outline-warning mr-1"
        (click)="openUpdateEducationSystem(edu, AddNewEducationSystemModal)"
      >
        Edit
      </button>

        <button
          type="button"
          class="btn btn-danger"
          (click)="deleteEducationSystem(edu)"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
<ngx-spinner type="ball-fussion" color="#56ccf2"></ngx-spinner>
