<h4 class="text-center">Previews Management</h4>
<button
  type="button"
  class="btn btn-dark mb-2"
  data-toggle="modal"
  data-target="#AddNewPreviewModal"
>
  Add New Preview
</button>
<div
  class="modal fade"
  id="AddNewPreviewModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Preview Details</h5>
        <button
          type="button"
          class="close"
          #closeButton
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="mb-3">
          <div class="form-row">
            <div class="form-group col-12">
              <label for="course">Course</label>
              <ng-select id="course" name="course" [(ngModel)]="preview.course">
                <ng-option *ngFor="let cou of allCourses" [value]="cou._id">
                  {{ cou.subject }} - {{ cou.educationSystem }} -
                  {{ cou.grade }}
                </ng-option>
              </ng-select>
            </div>
            <div class="form-group col-12">
              <label for="videoUrl">Video Url</label>
              <input
                type="text"
                class="form-control"
                id="videoUrl"
                name="videoUrl"
                placeholder="Video Url"
                [(ngModel)]="preview.videoUrl"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">
          Cancel
        </button>
        <button type="submit" class="btn btn-dark m-1" (click)="save()">
          Save
        </button>
      </div>
    </div>
  </div>
</div>
<table class="table table-hover table-responsive-sm" id="table">
  <thead class="headColor">
    <tr class="text-center">
      <th>Course</th>
      <th>Teacher</th>
      <th>Education System</th>
      <th>Grade</th>
      <th>Video Url</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let prev of allPreviews" class="text-center">
      <td>{{ prev.courseSubject }}</td>
      <td>
        {{ prev.teacherFirstName ? prev.teacherFirstName : "Not Assigned" }}
        {{ prev.teacherLastName ? prev.teacherLastName : "" }}
      </td>
      <td>{{ prev.educationSystemName }}</td>
      <td>{{ prev.gradeName }}</td>
      <td>{{ prev.videoUrl }}</td>
      <td>
        <button
          type="button"
          class="btn btn-danger"
          (click)="deletePreview(prev)"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
<ngx-spinner type="ball-fussion" color="#56ccf2"></ngx-spinner>
