.imgStyle {
  text-decoration: underline;
  margin: 15px;
  cursor: pointer;
  color: black;
}
.cardStyle {
  /* height: 200px !important; */
  background-color: #f7f7f7 !important;
  border-radius: 15px !important;
}
.activateOrDeactivate {
  cursor: pointer;
  margin-left: 10px;
}
.deleteStyle {
  cursor: pointer;
  margin-left: 10px;
  color: red;
}
.btnColor {
  background-color: #56ccf2;
  color: white;
}
fieldset {
  background-color: #eeeeee;
}

legend {
  background-color: gray;
  color: white;
  padding: 5px 10px;
}
